bootstrap/compiled.php
/vendor
composer.phar
composer.lock
/app/storage
/app/uploads
public/exports/*
!public/exports/.gitkeep
.env.*.php
.env.php
.DS_Store
Thumbs.db
anil.todo
/node_modules
/storage
public/dist/app.js
/nbproject/private/
/public/upload/bank_recp/*